<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <add name="CMSBaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SparrowCMS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DbType" value="SqlServer" />
    <add key="SiteName" value="" />
  </appSettings>
</configuration>