<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add path="*" verb="*" type="SparrowCMS.Base.PageHandler"/>
      </httpHandlers>
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="pagehandler" path="*" verb="*" type="SparrowCMS.Base.PageHandler"/>
    </handlers>
  </system.webServer>
</configuration>
