<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="CMSHttpModule" type="SparrowCMS.CMSHttpModule"/>
    </httpModules>
  </system.web>
  <appSettings>
    <add key="DbType" value="LocalFile" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="CMSHttpModule" type="SparrowCMS.CMSHttpModule"/>
    </modules>
  </system.webServer>
</configuration>