<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*" type="SparrowCMS.Core.PageHandlerFactory" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="CMSBaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SparrowCMS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DbType" value="SqlServer" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="pageHandlerFactory" verb="*" path="*" type="SparrowCMS.Core.PageHandlerFactory" />
    </handlers>
  </system.webServer>
</configuration>