<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{System name='SiteName' /} - 后台管理中心</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/main.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
</head>
<body role="document">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;SPARROW <span style="color: #369">CMS</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-cog"></span>System</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th"></span>Plugins <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Article</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Users</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span>Tools <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>administrators</a></li>
            </ul>
        </div>
    </div>
    <div class="body">
        %body%
    </div>
    <div class="footer">
    </div>
</body>
</html>
<script>
    (function () {
        $("#sidebar a").click(function () {
            //main load page
            $("#sidebar a").removeClass("active");
            $(this).addClass("active");

            var href = $(this).attr("href");
            $("#container").load(href);
            return false;
        });
        $("#sidebar a").eq(0).trigger("click");
    })();
</script>
