<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{System name='SiteName' /} - 后台管理中心</title>
    <link type="text/css" href="/static/admin.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
        <div class="brand">SPARROW <span>CMS</span></div>
        <div class="navbar">
            <ul>
                <li><a href="#">System</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Tools</a></li>
            </ul>
        </div>
        <div class="account">
            <div><a href="#">administrators</a></div>
        </div>
    </div>
    <div class="body">
        %body%
    </div>
    <div class="footer">
    </div>
</body>
</html>
