<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add/Edit Page</h4>
</div>
{Page.Model Id="Url(Id)"}
<div class="modal-body">
    <form class="form-horizontal" action="/admin/api/?action=page.save" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name：</label>
            <div class="col-sm-10">
                <input type="text" name="Name" class="form-control" value="@Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">UrlPattern：</label>
            <div class="col-sm-10">
                <input type="text" name="UrlPattern" class="form-control" value="@UrlPattern" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Template:</label>
            <div class="col-sm-10">
                <input type="text" name="Template" class="form-control" value="@Template.FilePath" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Layout:</label>
            <div class="col-sm-10">
                <input type="text" name="Layout" class="form-control" value="@Template.Layout" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
{/Page.Model}
