<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SparrowCMS.DAL.SqlServer.Properties.Settings.SparrowCMSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SparrowCMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>