<?xml version="1.0" encoding="utf-8" ?>
<data>
  <page>
    <name>网站首页</name>
    <url>/</url>
    <template>templates/index.html</template>
  </page>
  <page>
    <name>后台管理首页</name>
    <url>/admin</url>
    <role>admin</role>
    <template layout="templates/admin/_layout.html">templates/admin/index.html</template>
  </page>
  <page>
    <name>页面管理</name>
    <url>/admin/page/list</url>
    <role>admin</role>
    <template layout="templates/admin/_layout.html">templates/admin/page.list.html</template>
  </page>
  <page>
    <name>添加编辑页面</name>
    <url>/admin/page/edit</url>
    <role>admin</role>
    <template layout="templates/admin/_layout.html">templates/admin/page.edit.html</template>
  </page>
  <page>
    <name>保存页面</name>
    <url>/admin/page/save</url>
    <role>admin</role>
    <template>templates/admin/page.save.html</template>
  </page>
  <page>
    <name>系统配置</name>
    <url>/admin/system/config</url>
    <role>admin</role>
    <template layout="templates/admin/_layout.html">templates/admin/system.config.html</template>
  </page>
  <page>
    <name>缓存管理</name>
    <url>/admin/system/cache</url>
    <role>admin</role>
    <template layout="templates/admin/_layout.html">templates/admin/system.cache.html</template>
  </page>
  <page>
    <name>后台登录页</name>
    <url>/admin/login</url>
    <template layout="templates/admin/_layout.html">templates/admin/login.html</template>
  </page>
  <page>
    <name>后台登陆验证</name>
    <url>/admin/loginresult</url>
    <template>templates/admin/loginresult.html</template>
  </page>
  <page>
    <name>退出页面</name>
    <url>/admin/logout</url>
    <template>templates/admin/logout.html</template>
  </page>
  <page>
    <name>插件管理</name>
    <url>/admin/plugin/list</url>
    <role>admin</role>
    <template layout="templates/admin/_layout.html">templates/admin/plugin.list.html</template>
  </page>
</data>