<pages>
  <page id="0506c921-83af-4331-971d-9162f929c297">
    <name>添加编辑页面</name>
    <role>Admin</role>
    <url>/admin/system/pages/edit</url>
    <template>templates/admin/system.pages.edit.html</template>
  </page>
  <page id="23d47cea-308c-4209-8e6b-03d0479325f7">
    <name>页面管理</name>
    <role>Admin</role>
    <url>/admin/system/pages</url>
    <template>templates/admin/system.pages.html</template>
  </page>
  <page id="f959e521-9074-4ec2-a1f3-6d8592c99b81">
    <name>日志管理</name>
    <role>Admin</role>
    <url>/admin/system/logs</url>
    <template>templates/admin/system.logs.html</template>
  </page>
  <page id="115b6042-3b38-4b26-8857-9a4f2fa22522">
    <name>系统配置</name>
    <role>Admin</role>
    <url>/admin/system/configs</url>
    <template>templates/admin/system.configs.html</template>
  </page>
  <page id="bdc09ca7-f789-4004-adcc-375bc760dd7c">
    <name>插件管理</name>
    <role>Admin</role>
    <url>/admin/plugin/list</url>
    <template>templates/admin/plugin.list.html</template>
  </page>
  <page id="a5883c17-c391-484b-9412-aefafdcfe631">
    <name>退出页面</name>
    <role>Everyone</role>
    <url>/admin/logout</url>
    <template>templates/admin/logout.html</template>
  </page>
  <page id="4b4de075-f7cd-4a6b-acea-625c88490e93">
    <name>后台登陆验证</name>
    <role>Everyone</role>
    <url>/admin/loginresult</url>
    <template>templates/admin/loginresult.html</template>
  </page>
  <page id="e98ecec3-3555-4432-8d8e-bd4678bc7fea">
    <name>后台登录页</name>
    <role>Everyone</role>
    <url>/admin/login</url>
    <template>templates/admin/login.html</template>
  </page>
  <page id="8b8789c8-fb60-4e91-98aa-a6dd5c191ef6">
    <name>API</name>
    <role>Admin</role>
    <url>/admin/api</url>
    <template>templates/api.html</template>
  </page>
  <page id="b1772047-467f-420d-8ec4-d3301d946df1">
    <name>后台管理首页</name>
    <role>Admin</role>
    <url>/admin</url>
    <template layout="templates/admin/_layout.html">templates/admin/index.html</template>
  </page>
  <page id="05f66517-052d-4741-8141-85f28bee67db">
    <name>网站首页</name>
    <role>Everyone</role>
    <url>/</url>
    <template>templates/index.html</template>
  </page>
</pages>